@font-face {
    font-family: "SF-Pro";
    font-style: normal;
    font-weight: 400;
    src: local("SF-Pro"),
         url("/fonts/SF-Pro.ttf") format("ttf"),
         url("/fonts/SF-Pro-Text-Bold.otf") format("otf");
  }

body {
    font-family: SF-Pro;
    --bg-color: var(--tg-theme-bg-color, #fff);
    background-color: var(--bg-color);
    color: var(--tg-theme-text-color, #222);
    font-size: 14px;
    margin: 0;
    padding: 0;
    color-scheme: var(--tg-color-scheme);
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


h1 {
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font: normal normal normal 51px/61px SF Pro;
    letter-spacing: 0px;
    color: var(--tg-theme-text-color);
    opacity: 1;
}

h2 {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
    font: normal normal normal 37px/44px SF Pro;
    letter-spacing: 0px;
    color: var(--tg-theme-text-color);
    opacity: 1;
}

.container .ai {
    margin-top: 100px;
    margin-bottom: 0px;
}

.container .btn-ai {
    width: 392px;
    margin: 0 50px;
	background: none;
	color: var(--tg-theme-button-color);
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

img {
    top: 1024px;
    left: 344px;
    width: 392px;
    height: 392px;
    box-shadow: 0px 15px 15px #00000029;
    border: 3px solid #27A7E7;
    border-radius: 50px;
    background-color: var(--tg-theme-bg-color, #fff);;
    opacity: 1;
}

img:hover {
    border: 3px solid #0069b4;
}

img:active {
    border: 4px solid #7f7b7b;    
}

#footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
 }

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    bottom: 0;
}

.footer-container .chs-ai {
    margin-top: 20px;
    border: none;
    width: 144px;
    height: 48px;
    text-align: center;
    font: normal normal bold 40px/48px SF Pro;
    letter-spacing: 0px;
    color: #F5F5F5;
    opacity: 1;
    width: 282px;
    height: 103px;
    background: #27A7E7 0% 0% no-repeat padding-box;
    box-shadow: 0px 15px 15px #00000029;
    border-radius: 50px;
    opacity: 1;
}

.footer-container .chs-ai:hover {
    color: #27A7E7;
    border: 5px solid #27A7E7;
    background: #F5F5F5 0% 0% no-repeat padding-box;
}

.footer-container .chs-ai:active {
    border: 4px solid #7f7b7b;    
}